@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;  
  --font-manrope: "Manrope", sans-serif;
}

.shadow-section {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30),
                0px 1px 3px 1px rgba(0, 0, 0, 0.10);
  }